body {
    font-family: "Helvetica";
    background-color: #F2AD9F;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer, .push {
    height: 50px;
}
.tablink {
    background-color: #6CBF84;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    text-align: center;
    transition: all 0.5s;
    
}
.tablink span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.tablink span:after {
    content: "\2023";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.tablink:hover span {
    padding-right: 25px;
}
.tablink:hover span:after {
    opacity: 1;
    right: 0;
}
.header {
    background-color: #F26868;
    color: white;
    display: none;
    padding: 25px;
    text-align: center;
}
.content{
    background-color: #F2AD9F;
    


}
footer {
    background-color: #6CBF84;
    color: white;
    text-align: center;
    vertical-align: center;
}