body {
    font-family: "Helvetica";
    
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    background-color: #C0DFC7;
}
.footer, .push {
    height: 50px;
}
.tablink {
    background-color: #7DDF92;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 25%;
    text-align: center;
    transition: all 0.5s;
    font-size: 16px;
    padding: 5px;
    
}
.tablink span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.tablink span:after {
    content: "\2023";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.tablink:hover span {
    padding-right: 25px;
}
.tablink:hover span:after {
    opacity: 1;
    right: 0;
}
.header {
    background-color: #529360;
    color: white;
    display: none;
    padding: 10px;
    text-align: center;
    line-height: 75%;
}

footer {
    background-color: #36603F;
    color: white;
    text-align: center;
    vertical-align: center;
}
.cardwrap {
    max-width: 75%;
    margin: auto;
    padding: 5px;
    max-height: 50%;
 
    
}
.card {
    background: #8EA593 !important;


}
.cardimg {
    float: left;
}
.cardcontent {
    float: left;
    padding-left: 5px;
    height: 100%;
}